
@font-face {
  font-family: "Moutarde" ;
  src: url(./Assets/Police/Moutarde\ DEMO.otf);
}
/* make the page make sense */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./Assets/Images/background.png);
}

* {
  box-sizing: border-box;
  font-family: Moutarde, sans-serif ;
  letter-spacing: 1px;
}



body, html{
    padding: 0;
    margin: 0;
    background-color: white;
}
main{
  min-height: 85vh;
}

img{
  width: 15%;
}

.centrer{
  width: 20%;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
}

.header{
  font-size:2vh;
  color:#D3D3D3;
  background-color: #2E8B57;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

input[type=text]{
  transition: 0.2s ease-in-out;
  width: 50%;
}

input[type=text]:focus {
  border: 1px solid #555;
  background-color: #DCDCDC;
  width: 50%;
}

select {
  width: 40%;
  margin: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #90EE90;
  font-size: 1.1rem;
  text-align: center;
}

footer{
  color:#D3D3D3;
  height: 5vh;
  background-color: #4b3621;
}
.form{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}

button{
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

th{
  font-size: 1.2rem;
}

tr{
  text-align: center;
  vertical-align: middle;
}

#settings{
  width:30%;
}

input:invalid {
  border: 3px solid red;
}


.interface h2{
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0%;
}

.interface div, .interface button{
  margin: 1% 10% 1% 10%;
}

#playingfield{
  border-radius: 30px;
  background-color: rgba(27.5, 49.4, 28.6, 0.3);
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  height: 8rem;
  cursor: pointer;
  text-align: center;
}



.item {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5 ease-in-out;
  transition: opacity 0.5s ease-in-out;
  max-width: 20%;
  min-width: 5%;
}

.item.fade{
  opacity:0;
}


.set h2{
  margin-left: 10%;
}

.box{
  display: flex;
  justify-content: space-between;
}

.cercle{
  margin: 0 0 0 2%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fb5043;
  /* changement de couleur #596eff*/
}


/*.container {*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/

