
@font-face {
  font-family: "Moutarde" ;
  src: url(./Assets/Police/Moutarde\ DEMO.otf);
}
/* make the page make sense */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(./Assets/Images/background.png);
}

* {
  box-sizing: border-box;
  font-family: Moutarde, sans-serif ;
  letter-spacing: 1px;
}



body, html{
    padding: 0;
    margin: 0;
    background-color: white;
}
main{
  min-height: 85vh;
}

img{
  width: 15%;
}

.centrer{
  width: 20%;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
}

.header{
  font-size:2vh;
  color:#D3D3D3;
  background-color: #2E8B57;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

input[type=text]{
  transition: 0.2s ease-in-out;
  width: 50%;
}

input[type=text]:focus {
  border: 1px solid #555;
  background-color: #DCDCDC;
  width: 50%;
}

select {
  width: 40%;
  margin: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #90EE90;
  font-size: 1.1rem;
  text-align: center;
}

footer{
  color:#D3D3D3;
  height: 5vh;
  background-color: #4b3621;
}
.form{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
}

button{
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

th{
  font-size: 1.2rem;
}

tr{
  text-align: center;
  vertical-align: middle;
}

#settings{
  width:30%;
}

input:invalid {
  border: 3px solid red;
}


.interface h2{
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0 10% 0 10%;
}

.interface div, .interface button{
  margin: 1% 10% 1% 10%;
}

#playingfield{
  border-radius: 30px;
  background-color: rgba(27.5, 49.4, 28.6, 0.3);
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  height: 8rem;
  cursor: pointer;
  text-align: center;
}

.item img {
    max-width: 20%;
    min-width: 5%;
}
 
.pop {  
 
  color:black;
  font-family: "Questrial", sans-serif;
  
  background-size: 100%;
  background-position: 0 0;
  animation: slide 4s infinite linear;
} 
@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}

.modal {
  display:none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.message {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}
.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.set h2{
  margin-left: 10%;
}

