
/* make the page make sense */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(./Assets/Images/background.png);
}

* {
box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
} 

.header{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
<<<<<<< HEAD
footer{
    font-size: x-small;
    text-align: right;
    flex-shrink: 1;
}
body{
    display: flex;
    flex-direction: column;
} 
=======

>>>>>>> 691f50ceb2bf0301654c410bf916fc7bec83c711
main {
    height: 80vh;
}

footer{
    height: 10vh;
    font-size: small;
    text-align: right;
}

.boutons{
    height: 15%;
    display : flex;
    padding-right: 15%;
    padding-left: 15%;
    justify-content : space-around;
}

.texte{
    height:80%
}

.bouton1{
    background-color:#fb5043;
    border-radius: 5%;
    width: 20%;
    height: 100%;
    font-size:1rem;
}

.bouton2{
    background-color:#596eff;
    border-radius: 5%;
    width: 20%;
    height: 100%;
    font-size:1rem;
}