
/* make the page make sense */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

* {
box-sizing: border-box;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
footer{
    font-size: x-small;
    text-align: right;
}
body{
    display: flex;
    flex-direction: column;
} 
main {
    flex-grow: 1;
    
}


.boutons{
    height: 10vh;
    padding-left:25%;
}

.bouton1{
    background-color:#fb5043;
    border-radius: 5%;
    width: 20%;
    height: 100%;
    font-size:1rem;
}

.bouton2{
    background-color:#596eff;
    border-radius: 5%;
    width: 20%;
    height: 100%;
    font-size:1rem;
}